## .NET
bin/
obj/
*.user
*.suo
*.sln.docstates
*.userprefs
packages/
*.nupkg

## Visual Studio
.vs/
*.csproj.user
*.dbmdl
*.jfm

## Rider
.idea/
*.sln.iml

## OS
Thumbs.db
.DS_Store

## Environment
.env
